@media (max-width: 600px) {
            .record {
                flex-direction: column;
            }
            textarea {
                height: 80px; /* Увеличиваем высоту для удобства на мобильных устройствах */
            }
        }
.config-button {
    position: fixed; /* Фиксируем кнопку на экране */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    background: none; /* Убираем фон */
    border: none; /* Убираем границы */
    font-size: 24px; /* Размер иконки */
    cursor: pointer; /* Делаем кнопку кликабельной */
    z-index: 1000; /* Чтобы кнопка всегда была сверху */
}


html, body {
	overscroll-behavior-y: contain; /* Разрешаем прокрутку, но отключаем pull-to-refresh */
	font-family: Arial, sans-serif;
	margin: 10px;
	touch-action: manipulation;
}

textarea {
	width: 100%;
	height: 60px; /* Уменьшаем высоту текстового поля */
	margin-bottom: 5px;
	resize: none; /* Запрещаем изменение размера */
}
.record {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	background-color: #f9f9f9;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.record-buttons {
	display: none;
	margin-top: 5px;
}
button {
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	border: none;
	background-color: #e50045;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}
button:hover {
	background-color: #45a049;
}
.add-button {
	width: auto;
	padding: 5px 15px;
	font-size: 18px;
	margin-right: 10px;
}
#records {
	min-height: 100vh; 
	overflow-y: auto;
}

#video {
	width: 100%;
	max-width: 400px;
	height: auto;
}
#photo-preview {
	max-width: 100%;
	display: none;
}
#qr-output {
	margin-top: 10px;
	font-weight: bold;
}
.qr-code {
	margin-top: 10px;
}
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	max-height: 90vh;
	overflow-y: auto;
}
.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.arrow {
	font-size: 24px;
	cursor: pointer;
}
.error {
	color: red;
	font-weight: bold;
}
.records-on{
	padding-top: 10px;
}
.groups-container {
	display: flex;
	overflow-x: auto;
	padding: 10px;
	gap: 10px;
}

.group {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	background-color: #f9f9f9;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
}

.group:hover {
	background-color: #e9e9e9;
}
.scroll-container {
	scroll-padding-top: var(--header-height);
	overflow: scroll;
	@supports (scrollbar-gutter: stable) {
		overflow: auto;    
		scrollbar-gutter: stable;  
	}
}
.scroller {
	height: 100%;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.scroller__content {
	position: relative;
	padding-right: 30px;
	overflow: hidden;
}

.scroller__bar-wrapper {
	position: absolute;
	z-index: 2;
	top: 10px;
	bottom: 10px;
	right: 5px;
	width: 8px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	pointer-events: none;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	opacity: 0;
}

.scroller__bar {
	position: absolute;
	z-index: 1;
	width: 8px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: opacity 0.2s linear 0s;
	-moz-transition: opacity 0.2s linear 0s;
	-o-transition: opacity 0.2s linear 0s;
	transition: opacity 0.2s linear 0s;
	pointer-events: auto;
	opacity: 0;
}

.baron:hover .scroller__bar-wrapper {
	opacity: 1;
}

.baron:hover .scroller__bar {
	opacity: 1;
}
